<% if @results.present? %>
  <%# Userで検索された場合 %>
  <% if @model == User %>
  <h1>User search for "<%= @query %>"</h1>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Introduction</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size:'80x80' %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%# Bookで検索された場合 %>
  <% elsif @model == Book %>
  <h1>Book search for "<%= @query %>"</h1>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |book| %>
      <tr>
        <td><%= image_tag book.user.get_profile_image, size:'80x80' %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
  <h1>条件を記入してください</h1>

  <% end %>
<% else %>
  <h1>該当する結果がありません</h1>
<% end %>